<div class="dropzone" id="dropzone">
  <p class="drop-title">Drop files</p>
  <p class="drop-sub">or click to upload</p>
</div>

<%= form_with(model: @uploads, url: drop_index_path, method: :post, multipart: true) do |form| %>
   <%= form.file_field :attachment, multiple: true, direct_upload: true, hidden: true %>
   <%= form.submit "Upload", hidden: true %>
<% end %>

<div id="linkBox" class="link-box"></div>
