/* button */
.btn {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: var(--blue-8);
  color: white;
  font-size: 12px;
}

.btn-primary:hover {
  background: var(--blue-7);
}


/* card */
.card {
  background: var(--card);
  border: 1px solid var(--border);
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

