.main {
  height: 60vh;
	clip-path: polygon(0% 0px, 100% 0%, 100% 100%, 0px 100%);
}

.drop-area {
  position: fixed;
  inset: -5rem;
  display: grid;
  place-items: center;
}

.drop-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--blue-10);
}

.drop-sub {
  font-size: 13px;
  font-weight: 400;
  color: var(--blue-1);
  margin-top: 6px;
}

.dropzone {
  background: var(--light);
  border: 3px dashed var(--blue-6);
  outline: 10px solid;
  padding: 90px 70px;
  border-radius: 260px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dropzone:hover {
  border-color: var(--primary);
  background: var(--gray-12);
}

.drawer {
  background: var(--gray-2);
  border-radius: 16px 16px 0px 0px;
  border-top: 2px solid var(--gray-12);
  border-left: 2px solid var(--gray-12);
  border-right: 2px solid var(--gray-12);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  overflow-y: auto;
  height: 40vh;
  margin-left: 3px;
  margin-right: 3px;
}

.koppurai{
  border-bottom: 2px solid var(--gray-9);
  padding-bottom: 14px;
  margin-bottom: 14px;
}

.koppu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 8rem;
  border-radius: 8px;
  overflow: hidden;
  border: 1.5px solid var(--gray-9);
}

.footer-love {
  text-align: center;
  margin: 1rem;
}

.footer-love a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-offset: 3px;
}
