.drop-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--blue-10);
}

.drop-sub {
  font-size: 13px;
  font-weight: 400;
  color: var(--blue-1);
  margin-top: 6px;
}

.dropzone {
  background: var(--blue-contrast);
  border: 3px dashed var(--blue-6);
  outline: 10px solid;
  padding: 90px 70px;
  border-radius: 260px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dropzone:hover {
  border-color: var(--primary);
  background: var(--gray-12);
}

.dropzone.dragover {
  border-color: var(--blue-8);
  background: var(--blue-a2);
}
