:root {
  --font-sans: 'Inter', 'Satoshi-Variable';
  --font-sans-italic: 'Inter', 'Satoshi-VariableItalic';
  --color-background: #0e1012;

  --text-primary: #E5E7EB;
  --text-secondary: #9CA3AF;
  --text-heading: #F9FAFB;
  --text-muted: #6B7280;

  --gray-1: #101011;
  --gray-2: #19191a;
  --gray-3: #222224;
  --gray-4: #2a2a2b;
  --gray-5: #313132;
  --gray-6: #3a3a3b;
  --gray-7: #484849;
  --gray-8: #616162;
  --gray-9: #6f6f70;
  --gray-10: #7c7c7d;
  --gray-11: #b4b4b5;
  --gray-12: #eeeeef;

  --gray-a1: #b8100003;
  --gray-a2: #f8d0bc0c;
  --gray-a3: #f6e1e316;
  --gray-a4: #fcede71e;
  --gray-a5: #f9eee926;
  --gray-a6: #fdf4f12f;
  --gray-a7: #fcf7f43e;
  --gray-a8: #fffbfa58;
  --gray-a9: #fffbfb67;
  --gray-a10: #fdfbfb75;
  --gray-a11: #fffefeb0;
  --gray-a12: #fefeffee;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6f6f70;
  --gray-track: #6f6f70;

  --blue-1: #000;
  --blue-2: #050f28;
  --blue-3: #03195f;
  --blue-4: #00168d;
  --blue-5: #0222a2;
  --blue-6: #0731b3;
  --blue-7: #0f3ecd;
  --blue-8: #124af4;
  --blue-9: #000f89;
  --blue-10: #042aa9;
  --blue-11: #8ab4ff;
  --blue-12: #cee3ff;

  --blue-a1: #00000000;
  --blue-a2: #2060ff28;
  --blue-a3: #0944ff5f;
  --blue-a4: #0028ff8d;
  --blue-a5: #0336ffa2;
  --blue-a6: #0a46ffb3;
  --blue-a7: #134dffcd;
  --blue-a8: #134dfff4;
  --blue-a9: #001cff89;
  --blue-a10: #0640ffa9;
  --blue-a11: #8ab4ff;
  --blue-a12: #cee3ff;

  --blue-contrast: #fff;
  --blue-surface: #0a1e5080;
  --blue-indicator: #000f89;
  --blue-track: #000f89;
}
