/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--font-sans);
  transition: background 0.2s ease, color 0.2s ease;
}

/* responsive */
@media (max-width: 768px) {

}

/* button */
.btn {
  padding: 8px 12px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

.btn-primary {
  background: var(--primary);
  color: white;
}

.btn-light {
  background: var(--light);
  color: var(--dark);
}

.btn-primary:hover, .btn-light:hover {
  filter: brightness(0.95);
}

.heading-xs {
  font-size: var(--font-size-16);
  color: var(--text-heading);
  /* margin-bottom: 12px; */
}

.text-sm {
  font-size: var(--font-size-14);
  color: var(--text-secondary);
}

.text-xs {
  font-size: var(--font-size-12);
  color: var(--text-muted);
}

