<div class="dropzone" id="dropzone">
  <p class="drop-title">Drop files</p>
  <p class="drop-sub">or click to upload</p>
</div>

<input type="file" id="fileInput" hidden data-direct-upload-url="<%= rails_direct_uploads_url %>" />

<div id="linkBox" class="link-box"></div>
