<div class="app">
  <aside class="sidebar">
    <%= render "/uploads/side_bar" %>
  </aside>

  <main class="main">
    <%= render "/uploads/drop_area" %>
  </main>

  <!-- GLOBAL DROP OVERLAY -->
  <div id="globalDrop" class="global-drop">
    <div class="global-drop-inner">
      <p>Drop files to upload</p>
    </div>
  </div>
</div>
