<div class="app">
  <main class="main">
    <%= render "/uploads/drop" %>
  </main>

  <% if(@uploads.present?) %>
    <aside class="sidebar">
      <%= render "/uploads/share" %>
    </aside>
  <% end %>

  <!-- GLOBAL DROP OVERLAY -->
  <div id="globalDrop" class="global-drop">
    <div class="global-drop-inner">
      <p>Drop files to upload</p>
    </div>
  </div>
</div>
